<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375892403348-o4em49c9em38up8q93bf7f8l3h1urc82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375892403348-o4em49c9em38up8q93bf7f8l3h1urc82</string>
	<key>API_KEY</key>
	<string>AIzaSyDsUcYwpso4Fyt8aWxbcRNEZeDmjX_wkNU</string>
	<key>GCM_SENDER_ID</key>
	<string>375892403348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flashChatFlutter</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-5f5b1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-5f5b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375892403348:ios:76114cffc9dc9136a20081</string>
</dict>
</plist>